
<code>gem sources -a <%= url("/") %></code>

<% if gems.any? %>
  <article>
    <% gems.by_name do |name, versions| %>
      <dl>
        <dt>
          <a href="<%= url("gem/#{name}") %>">
            <h2><%= Rack::Utils.escape_html(name) %></h2>
          </a>
        </dt>
        <dd>
          <h2><%= Rack::Utils.escape_html(versions.newest.number) %></h2>
        </dd>
        
        <% spec = Gemirro::Utils.spec_for(name, versions.newest.number) %>
        <% if spec.is_a?(::Gem::Specification) %>
          <dd class="description">
            <%= Rack::Utils.escape_html(spec.description)  %>
          </dd>
        <% end %>

          <% versions.reverse_each.first(5).each do |version| %>
            <dt class="version">
              <code>
                gem install
                <%= Rack::Utils.escape_html(version.name) %>
                <%= "--prerelease" if version.number.to_s.match(/[a-z]/i) %>
                --version "<%= Rack::Utils.escape_html(version.number) %>"
                <% unless version.platform =~ /^ruby/i %>
                  --platform <%= Rack::Utils.escape_html(version.platform) %></small>
                <% end %>
              </code>
            </dt>
            <dd>
              <a class="btn btn-primary btn-sm" href="<%= url("/gems/#{version.gemfile_name}.gem") %>">Download</a>
            </dd>
          <% end %>
          <% if versions.size > 5 %>
            <dd class="full"><a href="<%= url("gem/#{name}") %>"><%= "And %d More..." % [versions.size - 5] %></a></dd>
          <% end %>
      </dl>
    <% end %>
  </article>
<% end %>
